extends template.pug

block content
  h1 Cart

  table
    tr
      td Product
      td Quantity
      td Subtotal
    each item in products
      tr
        td= item.productName
        td= item.quantity
        td= item.subTotal
        td
          a(href=`/cart/removeFromCart?product=${item.productID}`) Remove

  p Total: R#{total}

  a(href="/payment/verifyAddress") Checkout
