doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/global_min.css")
    title 2BSure | Cart

  body
    h1 Cart
    ul
      li #{cart.value1}
      li #{cart.value2}
      li #{cart.value3}
      li #{cart.value4}
    p Total: #{cart.total}
